{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'homepage/css/styles.css' %}">
{% endblock %}


{% block content%}

<div class="showcase-container show-for-medium">
    <div class="grid-x">
        <div class="small-12">
            <h1 class="text-center showcase-title">Apprenticeship <br> For <br> Developer</h1>
        </div>
    </div>
</div>


<div class="grid-x grid-margin-x">

    {% for item in developer_list_all %}
  <div class="small-12 large-6 large-offset-3 article-container">
      <div class="small-12">
          <div class="small-12 title text-center">
              <span><b>{{item.title}}</b><br></span>
          </div>

          <div class="small-12 apprenticeship-image">
              {% if item.image is not None %}
                 <img class="" src="/media/{{ item.image }}">
              {% endif %}
          </div>


          <hr class="date-line">

          <div class="small-12 body-article">
              <p>
                  {{ item.description }}
              </p>

              <a href="#"> Select here for link </a>
          </div>
      </div>

  </div>

    {% endfor %}
</div>

{% endblock %}


{% block footer_extra %}

    <script src="{% static 'homepage/js/app.js' %}"></script>

{% endblock %}