.top-bar{
    background-color: #1D3557;
    padding: 10px;
    box-shadow:0px 1px 30px -15px black;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.top-bar-title{
    padding-left: 30px;
    color: white;
    font-size: 20px;
    font-family: Sans-Serif;
}


