version: '3'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.prod
    command:  gunicorn testsite.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/home/app/static_cdn
    expose:
      - 8000
    depends_on:
      - db
    env_file:
      - ./.env.prod

  db:
    image:  postgres:12.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
       - ./.env.prod.db

  nginx:
    build: ./nginx
    volumes:
      - static_volume:/home/app/static_cdn
    ports:
      - 1337:80
    depends_on:
      - web

volumes:
    postgres_data:
    static_volume: